<?xml version="1.0"?>
<theme>
    <name>ED-V</name>
    <title>ED-V</title>
    <version>20260316192905</version>
    <compatibility>3.0</compatibility>
    <author>
   
    </author>
    <license>Creative Commons by-sa</license>
    <license-url>http://creativecommons.org/licenses/by-sa/3.0/</license-url>
    <description>
        -----
        Estilo Diseñado para la realización de materiales de Educación Permanente a Distancia de la Junta de Andalucía.
        -----
        Basado inicialmente en el tema Zen (creado por 3ipunt for eXeLearning.net).
        -----
    </description>
    <downloadable>1</downloadable>
</theme>